<p-panel header="No common pipes">
  <p>
    Pipes included in Angular - Usually inside Common Module
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect pipe" [toggleable]="true">
      <p>Saludos {{ name }}: Es un placer
        {{ gender | i18nSelect:invitationMap}} a nuestro evento</p>
      <p-button (onClick)="changeClient()" label="Change Client "></p-button>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural pipe" [toggleable]="true">
      <p>Actualmente tenemos {{clients.length}} clientes esperando</p>
      <p-button
        (click)="dispatchClient()"
        label="Dispatch client"></p-button>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice pipe" [toggleable]="true"></p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Json pipe" [toggleable]="true"></p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue pipe" [toggleable]="true"></p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Async pipe" [toggleable]="true"></p-fieldset>
  </div>
</div>
